<html>
    <head>
        
    </head>
    <body>
        <form>
            <input value="Dude">
            <input value="Whats up">
            <input value="Hi">
            <button>submit</button>
        </form>
    </body>
</html>